<%= form_for(@link) do |f| %>
  <ul>
  <% @link.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <br>
  <%= f.submit "Submit Link" %> <br><br><br>

  <%= f.fields_for(:comments) do |comments_form| %>
    <%= comments_form.label :content, "Comment" %>
    <%= comments_form.text_area :content %>

  <% end %>

<% end %>